<!DOCTYPE html>
<html>

<head>
  <title>https://www.thequint.com/googlerssfeeds</title>
  <link rel="icon" href="https://pbs.twimg.com/profile_images/1170222681553162240/9ZaLRf3r_200x200.jpg" type="image/jpg">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="webkit-xml-viewer-source-xml">
    <%= xmldata %>
  </div>
  <div class="header"><span>This XML file does not appear to have any style information associated with it. The document tree is shown below.</span><br /></div>
  <div class="pretty-print">
    <div class="folder" id="folder0">
     <div class="line">
       <span class="folder-button fold"></span>
       <span class="html-tag">&lt;rss<span class="html-attribute"> 
         <span class="html-attribute">
           <span class="html-attribute-name">xmlns:content</span>="<span class="html-attribute-value">http://purl.org/rss/1.0/modules/content/</span>"</span>
           <span class="html-attribute"> 
             <span class="html-attribute-name">xmlns:media</span>="<span class="html-attribute-value">http://search.yahoo.com/mrss/</span>"</span>
           <span class="html-attribute"> 
              <span class="html-attribute-name">version</span>="<span class="html-attribute-value">2.0</span>"
           </span>
           &gt;
       </span>
     </div>
     <div class="opened">
       <div class="folder" id="folder1">
          <div class="line">
              <span class="folder-button fold"></span>
                <span class="html-tag">&lt;channel&gt;</span>
          </div>
          <div class="opened">
            <div class="folder" id="folder2">
                <div class="line">
                    <span class="html-tag">&lt;lastBuildDate&gt;</span>
                    <% if (typeof type === "undefined") { %>
                       <span><%= data['rss']['channel']['lastBuildDate']['_text'] %></span>
                    <% } else { %>
                      <% if (lbd !== "") { %>
                        <span><%= lbd %></span>
                      <% } else { %>
                        <% var currDate = new Date().toString(); %>
                        <span><%= currDate.slice(0, 3)+ ", " + currDate.slice(8, 10) + " " + currDate.slice(4, 7) + currDate.slice(10, 24)+ " +0530" %></span>
                      <% } %>
                    <% } %>
                    <span class="html-tag">&lt;/lastBuildDate&gt;</span>
                </div>
                <div class="line">
                  <span class="folder-button fold"></span><span class="html-tag">&lt;title&gt;</span></div>
                  <div class="opened">
                    <div class="line">
                      <% if (typeof type !== "undefined") { %>
                        <% if (metadata['title'] !== "") { %>
                          <span>&lt;![CDATA[ <%= metadata['title'] %> ]]&gt;</span>
                        <% } else { %>
                          <span>&lt;![CDATA[ The Quint ]]&gt;</span>
                        <% } %>
                      <% } else { %>
                        <span>&lt;![CDATA[ The Quint ]]&gt;</span>
                      <% } %>
                    </div>
                  </div>
                  <span class="folded hidden">...</span>
                  <div class="line"><span class="html-tag">&lt;/title&gt;</span>
                </div>
            </div>
            <div class="folder" id="folder3">
                <div class="line">
                  <span class="folder-button fold"></span>
                  <span class="html-tag">&lt;description&gt;</span>
                </div>
                <div class="opened">
                  <div class="line">
                    <% if (typeof type !== "undefined") { %>
                      <% if (metadata['title'] !== "") { %>
                        <span>&lt;![CDATA[ <%= metadata['desc'] %> ]]&gt;</span>
                      <% } else { %>
                        <span>&lt;![CDATA[ Latest News, Breaking News, Online India News, Cricket News, Viral Videos - quint ]]&gt;</span>
                      <% } %>
                    <% } else { %>
                      <span>&lt;![CDATA[ Latest News, Breaking News, Online India News, Cricket News, Viral Videos - quint ]]&gt;</span>
                    <% } %>
                  </div>
                </div>
                <span class="folded hidden">...</span>
                <div class="line">
                  <span class="html-tag">&lt;/description&gt;</span>
                </div>
            </div>
            <div class="line">
                <span class="html-tag">&lt;link&gt;</span>
                <span>www.thequint.com</span>
                <span class="html-tag">&lt;/link&gt;</span>
            </div>
          </div>
          <% var count = 0 %>
          <% for (var i=0; i < data['rss']['channel']['item'].length; i++) { %>
            <% if (typeof data['rss']['channel']['item'][i]['category'].length !== "undefined") { %>
              <% for (let j=0; j< data['rss']['channel']['item'][i]['category'].length; j++) { %>
                <% if (typeof type !== "undefined") { %>
                  <% if (count < limit) { %>
                    <% if (data['rss']['channel']['item'][i]['category'][j]['_text'] == type) { %>
                      <% count++ %>
                      <div class="folder" id="folder<%= 4+i %>">
                          <div class="line">
                            <span class="folder-button fold"></span>
                            <span class="html-tag">&lt;item&gt;</span>
                          </div>
                          <div class="opened">
                            <div class="folder" id="folder8">
                              <div class="line">
                                <span class="html-tag">&lt;guid<span class="html-attribute"> 
                                <span class="html-attribute-name">isPermaLink</span>="<span class="html-attribute-value">false</span>"</span>&gt;</span>
                                <span><%= data['rss']['channel']['item'][i]['guid']['_text'] %></span>
                                <span class="html-tag">&lt;/guid&gt;</span>
                              </div>
                              <div class="line">
                                <span class="html-tag">&lt;pubDate&gt;</span>
                                <span><%= data['rss']['channel']['item'][i]['pubDate']['_text'] %></span>
                                <span class="html-tag">&lt;/pubDate&gt;</span>
                              </div>
                              <div class="line">
                                <span class="folder-button fold"></span>
                                <span class="html-tag">&lt;title&gt;</span>
                              </div>
                              <div class="opened">
                                <div class="line">
                                  <span>&lt;![CDATA[ <%= data['rss']['channel']['item'][i]['title']['_text'] %> ]]&gt;</span>
                                </div>
                              </div>
                              <span class="folded hidden">...</span>
                              <div class="line">
                                <span class="html-tag">&lt;/title&gt;</span>
                              </div>
                            </div>
                            <div class="line">
                              <span class="html-tag">&lt;description&gt;</span>
                              <span><%= data['rss']['channel']['item'][i]['description']['_cdata'] %></span>
                              <span class="html-tag">&lt;/description&gt;</span>
                            </div>
                            <div class="line">
                              <span class="html-tag">&lt;content:encoded&gt;</span>
                              <span>&lt;![CDATA[ <%= data['rss']['channel']['item'][i]['content:encoded']['_cdata'] %> ]]&gt;</span>
                              <span class="html-tag">&lt;/content:encoded&gt;</span>
                            </div>
                            <div class="line">
                              <span class="html-tag">&lt;link&gt;</span>
                              <span><%= data['rss']['channel']['item'][i]['link']['_text'] %></span>
                              <span class="html-tag">&lt;/link&gt;</span>
                            </div>
                            <div class="line">
                              <span class="html-tag">&lt;media:content
                                <span class="html-attribute"> 
                                  <span class="html-attribute-name">height</span>="
                                  <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['height'] %></span>"
                                </span>
                                <span class="html-attribute"> 
                                  <span class="html-attribute-name">url</span>="
                                  <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['url'] %></span>"
                                </span>
                                <span class="html-attribute"> 
                                  <span class="html-attribute-name">width</span>="
                                  <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['width'] %></span>"
                                </span>
                                &gt;
                              </span>
                              <span class="html-tag">&lt;/media:content&gt;</span>
                            </div>
                            <div class="line">
                              <span class="html-tag">&lt;author&gt;</span>
                              <span><%= data['rss']['channel']['item'][i]['atom:author']['atom:name']['_text'] %></span>
                              <span class="html-tag">&lt;/author&gt;</span>
                            </div>
                          </div>
                          <span class="folded hidden">...</span>
                          <div class="line">
                            <span class="html-tag">&lt;/item&gt;</span>
                          </div> 
                      </div>
                    <% } %>
                  <% } %>  
                <% } %>
              <% } %>
            <% } %>
            <% if (typeof type === "undefined") { %>
              <div class="folder" id="folder<%= 4+i %>">
                <div class="line">
                  <span class="folder-button fold"></span>
                  <span class="html-tag">&lt;item&gt;</span>
                </div>
                <div class="opened">
                  <div class="folder" id="folder8">
                    <div class="line">
                      <span class="html-tag">&lt;guid
                        <span class="html-attribute"> 
                          <span class="html-attribute-name">isPermaLink</span>="
                          <span class="html-attribute-value">false</span>"
                        </span>&gt;
                      </span>
                      <span><%= data['rss']['channel']['item'][i]['guid']['_text'] %></span>
                      <span class="html-tag">&lt;/guid&gt;</span>
                    </div>
                    <div class="line">
                      <span class="html-tag">&lt;pubDate&gt;</span>
                      <span><%= data['rss']['channel']['item'][i]['pubDate']['_text'] %></span>
                      <span class="html-tag">&lt;/pubDate&gt;</span>
                    </div>
                    <div class="line">
                      <span class="folder-button fold"></span>
                      <span class="html-tag">&lt;title&gt;</span>
                    </div>
                    <div class="opened">
                      <div class="line">
                        <span>&lt;![CDATA[ <%= data['rss']['channel']['item'][i]['title']['_text'] %> ]]&gt;</span>
                      </div>
                    </div>
                    <span class="folded hidden">...</span>
                    <div class="line">
                      <span class="html-tag">&lt;/title&gt;</span>
                    </div>
                  </div>
                  <div class="line">
                    <span class="html-tag">&lt;description&gt;</span>
                    <span><%= data['rss']['channel']['item'][i]['description']['_cdata'] %></span>
                    <span class="html-tag">&lt;/description&gt;</span>
                  </div>
                  <div class="line">
                    <span class="html-tag">&lt;content:encoded&gt;</span>
                    <span>&lt;![CDATA[ <%= data['rss']['channel']['item'][i]['content:encoded']['_cdata'] %> ]]&gt;</span>
                    <span class="html-tag">&lt;/content:encoded&gt;</span>
                  </div>
                  <div class="line">
                    <span class="html-tag">&lt;link&gt;</span>
                    <span><%= data['rss']['channel']['item'][i]['link']['_text'] %></span>
                    <span class="html-tag">&lt;/link&gt;</span>
                  </div>
                  <div class="line">
                    <span class="html-tag">&lt;media:content
                      <span class="html-attribute"> 
                        <span class="html-attribute-name">height</span>="
                        <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['height'] %></span>"
                      </span>
                      <span class="html-attribute"> 
                        <span class="html-attribute-name">url</span>="
                        <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['url'] %></span>"
                      </span>
                      <span class="html-attribute"> 
                        <span class="html-attribute-name">width</span>="
                        <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['width'] %></span>"
                      </span>
                      &gt;
                    </span>
                    <span class="html-tag">&lt;/media:content&gt;</span>
                  </div>
                  <div class="line">
                    <span class="html-tag">&lt;author&gt;</span>
                    <span><%= data['rss']['channel']['item'][i]['atom:author']['atom:name']['_text'] %></span>
                    <span class="html-tag">&lt;/author&gt;</span>
                  </div>
                </div>
                <span class="folded hidden">...</span>
                <div class="line">
                  <span class="html-tag">&lt;/item&gt;</span>
                </div> 
              </div>
            <% } %>
            <% if (typeof type !== "undefined") { %>
              <% if (count < limit) { %>
                <% if (typeof data['rss']['channel']['item'][i]['category'].length === "undefined") { %>
                  <% if (data['rss']['channel']['item'][i]['category']['_text'] === type) { %>
                    <% count++ %>
                    <div class="folder" id="folder<%= 4+i %>">
                        <div class="line">
                          <span class="folder-button fold"></span>
                          <span class="html-tag">&lt;item&gt;</span>
                        </div>
                        <div class="opened">
                          <div class="folder" id="folder8">
                            <div class="line">
                              <span class="html-tag">&lt;guid<span class="html-attribute"> 
                              <span class="html-attribute-name">isPermaLink</span>="<span class="html-attribute-value">false</span>"</span>&gt;</span>
                              <span><%= data['rss']['channel']['item'][i]['guid']['_text'] %></span>
                              <span class="html-tag">&lt;/guid&gt;</span>
                            </div>
                            <div class="line">
                              <span class="html-tag">&lt;pubDate&gt;</span>
                              <span><%= data['rss']['channel']['item'][i]['pubDate']['_text'] %></span>
                              <span class="html-tag">&lt;/pubDate&gt;</span>
                            </div>
                            <div class="line">
                              <span class="folder-button fold"></span>
                              <span class="html-tag">&lt;title&gt;</span>
                            </div>
                            <div class="opened">
                              <div class="line">
                                <span>&lt;![CDATA[ <%= data['rss']['channel']['item'][i]['title']['_text'] %> ]]&gt;</span>
                              </div>
                            </div>
                            <span class="folded hidden">...</span>
                            <div class="line">
                              <span class="html-tag">&lt;/title&gt;</span>
                            </div>
                          </div>
                          <div class="line">
                            <span class="html-tag">&lt;description&gt;</span>
                            <span><%= data['rss']['channel']['item'][i]['description']['_cdata'] %></span>
                            <span class="html-tag">&lt;/description&gt;</span>
                          </div>
                          <div class="line">
                            <span class="html-tag">&lt;content:encoded&gt;</span>
                            <span>&lt;![CDATA[ <%= data['rss']['channel']['item'][i]['content:encoded']['_cdata'] %> ]]&gt;</span>
                            <span class="html-tag">&lt;/content:encoded&gt;</span>
                          </div>
                          <div class="line">
                            <span class="html-tag">&lt;link&gt;</span>
                            <span><%= data['rss']['channel']['item'][i]['link']['_text'] %></span>
                            <span class="html-tag">&lt;/link&gt;</span>
                          </div>
                          <div class="line">
                            <span class="html-tag">&lt;media:content
                              <span class="html-attribute"> 
                                <span class="html-attribute-name">height</span>="
                                <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['height'] %></span>"
                              </span>
                              <span class="html-attribute"> 
                                <span class="html-attribute-name">url</span>="
                                <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['url'] %></span>"
                              </span>
                              <span class="html-attribute"> 
                                <span class="html-attribute-name">width</span>="
                                <span class="html-attribute-value"><%= data['rss']['channel']['item'][i]['media:content']['_attributes']['width'] %></span>"
                              </span>
                              &gt;
                            </span>
                            <span class="html-tag">&lt;/media:content&gt;</span>
                          </div>
                          <div class="line">
                            <span class="html-tag">&lt;author&gt;</span>
                            <span><%= data['rss']['channel']['item'][i]['atom:author']['atom:name']['_text'] %></span>
                            <span class="html-tag">&lt;/author&gt;</span>
                          </div>
                        </div>
                        <span class="folded hidden">...</span>
                        <div class="line">
                          <span class="html-tag">&lt;/item&gt;</span>
                        </div> 
                    </div>
                  <% } %>
                <% } %>
              <% } %>
            <% } %>  
          <% } %>  
          <span class="folded hidden">...</span>
          <div class="line">
            <span class="html-tag">&lt;/channel&gt;</span>
          </div>
       </div>
     </div>
     <span class="folded hidden">...</span>
     <div class="line">
        <span class="html-tag">&lt;/rss&gt;</span></div>
    </div>
  </div>
</body>
</html>